body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .bg-gray-800 {
    background-color: #1f2937; /* Dark mode background */
  }
  
  .bg-gray-100 {
    background-color: #f3f4f6; /* Light mode background */
  }
  
  .text-white {
    color: #ffffff; /* Dark mode text color */
  }
  
  .text-black {
    color: #000000; /* Light mode text color */
  }
  